.nav {
  background-color: rgb(52, 255, 130);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  z-index: 999;
  position: sticky;
  top: 0;
}

/* .nav .cat{
  display: flex;
  justify-content: space-between;
} */

.right input{
  padding: 0 10px;
  height: 30px;
  outline: none;
  border-radius: 5px;
}

.right input[type='submit']{
  padding: 0 10px;
  background-color: rgb(22, 212, 95);
}

.nav a{
  text-decoration: none;
  color: black;
  font-size: large;
}


.nav .right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.cat{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

.cat a{
  text-decoration: none;
  color: black;
}